<h1>{{post.title}}</h1>

<hr>

<div class='below-the-fold'>
	{{format-markdown post.body}}
</div>

{{blog-post-edit post=post authors=authors isEditing=isEditing saveAction="saveAction" deleteAction="deleteAction"}}
